@use "./../../../assets/styles/variables.scss";

h2{
    font-size: xxl;
    margin-top: 50px;
    text-align: center;
}

#tarjetas-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: variables.$border-radius-chico;
    overflow: hidden;
    
}

.tarjeta-producto-container{
    position: relative;
    display: flex;
    height: 100px;
    background-color: variables.$color-principal-claro;
    > div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
    }
}

#izq{
    width: 35%;
    background-color: bisque;
    background-size: cover;
    background-position: center;
    border-radius: variables.$border-radius-chico;
    >div{
        position: absolute;
        bottom: 8px;
        left: 8px;
        img{
            height: 20px;
            background-color: variables.$color-sello-comida;
            border-radius: 50%;
        }
    }

}
#centro{
    width: 55%;

}
#der{
    width: 10%;
    align-items: flex-end;
}

#imgEli{
    max-width: 24px;
    max-height: 24px;
}

#borrar{
    background-color: unset;
    border: unset;
    cursor: pointer;
    padding: 0;
}

#mas{
    font-size: xx-large;
    text-decoration: none;
    color: black;
    background-color: variables.$color-principal-claro;
    padding: 15px 30px;
    border-radius: variables.$border-radius-chico;
}

#informacion{
    font-size: larger;
}

#imgLapiz{
    max-width: 24px;
    max-height: 24px;
}

#envios-container{
    background-color: variables.$color-principal-claro;
    border-radius: variables.$border-radius-chico;
    padding: 10px;
    margin: 10px 0;
    align-items: center;
    h4{
        font-size: larger;

    }
}

#montos{
    text-align: end;
}

#totales > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#enviar{
    font-size: larger;
    background-color: variables.$color-principal;
    border: unset;
    cursor: pointer;
    padding: 15px ;
    border-radius: variables.$border-radius-chico;
    font-weight: bold;
    margin-top: 20px;
    display: block;
    width: 100%;
}
dialog{
    background-color: variables.$color-principal-claro;
    border-radius: variables.$border-radius-chico;
    border: unset;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.150);
    div{
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        }
    button{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        width: 140px;
        &:first-of-type{
            background-color: rgb(122,255,211);
        }
        &:last-of-type{
            background-color: rgb(255,211,211);
        }
        span:first-child{
            font-size: x-large;
        }
    }
    p{
        font-size: x-large;
        text-align: center;
    }
}